/* HTML RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ALL Styles */
body {
    font-family: 'Montserrat', sans-serif;
}

/* CONTAINER */
.container {
    width: 100%;
    /* padding-right: 1rem;
    padding-left: 1rem; */
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: 576px){
    .container {
      max-width: 544px;
    }
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  

  /* NAVBAR */
.navbar ul {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
    color: black;
}

.navbar li {
    list-style-type: none;
    padding: 1rem;
    font-weight: 600;
}

.navbar-links {
    cursor: pointer;
}

.navbar-links a {
    text-decoration: none;
}

.navbar-logo {
    flex: 1;
    font-size: 4em;
    font-weight: 900;
    user-select: none;
}

.navbar-toggle {
    display: none;
}

.navbar-ham-menu {
    width: 2rem;
    height: auto;
}

@media(max-width: 575px) {
    .navbar-logo {
        flex: 1;
        font-size: 3em;
        font-weight: 900;
        user-select: none;
    }
    .navbar ul {
        flex-wrap: wrap;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-links {
        display: none;
        width: 100%;
        text-align: center;
    }
    .active {
        display: block;
    }
    .scroll-disabled {
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
    .navbar-full {
        height: 100vh;
    }
}

@media(min-width: 576px) {
    .navbar ul {
        flex-wrap: wrap;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-links {
        display: none;
        width: 100%;
        text-align: center;
    }
    .active {
        display: block;
    }
    .scroll-disabled {
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
    .navbar-full {
        height: 100vh;
    }
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.3;
}

.hero-img {
    max-width: 360px;
    height: auto;
}

.hero-content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 19.5rem;
    width: 50%;
}

.hero-headline {
    font-size: 3em;
    font-weight: 800;
}

.hero-sub-headline {
    font-size: 1.8em;
    font-weight: 400;
}

.hero-button {
    font-size: 0.8em;
    display: block;
    max-width: 15.625rem;
    text-decoration: none;
    color: black;
    padding: 1rem 1.875rem;
    background: #00FF2B;
    outline: none;
    font-weight: 600;
    border-radius: 3.125rem;
    text-align: center;
}

@media screen and (max-width: 575px) {
    .hero {
        margin-top: 2rem;
    }
    .hero-content-right {
        display: none;
    }
    .hero-content-left{
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .hero-headline {
        font-size: 2em;
        text-align: center;
    }
    .hero-sub-headline {
        font-size: 1em;
        text-align: center;
    }
  }


@media screen and (min-width: 576px) {
    .hero {
        margin-top: 3rem;
    }
    .hero-content-right {
        display: none;
    }
    .hero-content-left{
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .hero-headline {
        font-size: 2.5em;
        text-align: center;
    }
    .hero-sub-headline {
        font-size: 1.3em;
        text-align: center;
    }
  }

  @media screen and (min-width: 768px) {
    .hero {
        margin-top: 3rem;
    }
    .hero-content-right {
        display: none;
    }
    .hero-content-left{
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .hero-headline {
        font-size: 3em;
        text-align: center;
    }
    .hero-sub-headline {
        font-size: 1.5em;
        text-align: center;
    }
  }

  @media (min-width: 992px) {
    .hero {
        margin-top: 3rem;
    }
    .hero-content-right {
        display: block;
    }
    .hero-content-left{
        width: 50%;
        align-items: center;
        justify-content: space-around;
    }
    .hero-headline {
        font-size: 2.4em;
        text-align: left;
    }
    .hero-sub-headline {
        font-size: 1.2em;
        text-align: left;
    }
    .navbar ul {
        flex-wrap: nowrap;
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-links {
        display: inline-block;
        width: auto;
        text-align: center;
    }
  }

  @media (min-width: 992px) {
    .hero {
        margin-top: 3rem;
    }
    .hero-content-right {
        display: block;
    }
    .hero-content-left{
        width: 50%;
        align-items: center;
        justify-content: space-around;
    }
    .hero-headline {
        font-size: 2.8em;
        text-align: left;
    }
    .hero-sub-headline {
        font-size: 1.4em;
        text-align: left;
    }
  }


/* fitur */
.fitur {
    display: flex;
    background-color: #D8F0FF;
    /* border-radius: 50px; */
    height: 600px;
}

.fitur-content-left {
    display: flex;
    margin-top: 3rem;
    margin-left: 3.5rem;
    width: 100%;
}

.fitur-content-right{
    position: relative;
    justify-self: flex-end;
    width: 100%;
    height: 100%;
}

.fitur-img {
    max-width: 50px;
    height: auto;
}

.fitur-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.fitur-yoga {
    position: absolute;
    bottom: 0px;
    right: 0px;
    max-width: 450px;
    height: auto;
}

.fitur-title {
    margin-bottom: 1.5rem;
    font-size: 2em;
    font-weight: 600;
}

.fitur-text {
    font-size: 1.5em;
}

@media (max-width: 575px) {
    .fitur {
        margin-top: 3rem;
        height: 500px;
    }
    .fitur-content-right {
        display: none;
    }
    .fitur-content-left{
        width: 100%;
        margin-left: .5rem;
        margin-right: .5rem;
        align-items: center;
        justify-content: space-around;
    }
    .fitur-title {
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: 1.5em;
        font-weight: 600;
    }
    
    .fitur-text {
        font-size: 1.2em;
    }
  }

@media (min-width: 576px) {
    .fitur {
        margin-top: 3rem;
        height: 450px;
    }
    .fitur-content-right {
        display: none;
    }
    .fitur-content-left{
        width: 100%;
        margin-left: .5rem;
        margin-right: .5rem;
        align-items: center;
        justify-content: space-around;
    }
    .fitur-title {
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: 2em;
        font-weight: 600;
    }
    
    .fitur-text {
        font-size: 1.3em;
    }
  }
@media (min-width: 768px) {
    .fitur {
        margin-top: 3rem;
        height: 450px;
    }
    .fitur-content-right {
        display: none;
    }
    .fitur-content-left{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: space-around;
    }
    .fitur-title {
        margin-bottom: 1.5rem;
        text-align: center;
        font-size: 2em;
        font-weight: 600;
    }
    
    .fitur-text {
        font-size: 1.5em;
    }
  }

@media (min-width: 992px) {
    .fitur {
        margin-top: 3rem;
    }
    .fitur-content-right {
        display: block;
    }
    .fitur-content-left{
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .fitur-title {
        margin-bottom: 1.5rem;
        font-size: 2em;
        font-weight: 600;
    }
    
    .fitur-text {
        font-size: 1.5em;
    }
  }


  /* TESTIMONI */
  .section {
    padding: 4rem 0 2rem;
}

.section-title {
    font-size: 3em;
    font-weight: 600;
    color: black;
    text-align: center;
    margin-bottom: 1.5rem;
}

.bd-container {
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

/* testimoni */

.testimoni__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.testimoni__data {
    text-align: center;
    padding: 1rem 1rem 2rem;
    background-color: white;
    box-shadow: 0 2px 6px rgba(65, 11, 16, .15);
    border-radius: 1rem;
}

.testimoni__data:hover {
    box-shadow: 0 3px 12px rgba(65, 11, 16, .15);
}

.testimoni__img {
    width: 180px;
}

.testimoni__title {
    font-size: 1.125rem;
    margin-bottom: .5rem;
}

@media screen and (min-width: 968px){
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }
}

/* EBOOK FOOTER */
.content-footer{
    width: 100%;
    background-color: #D8F0FF;
}


.wrapper-footer .kolom-satu img{
    margin-top: 20px;
}

    .container-footer{
        width: 100%;
    }
    
    .wrapper-footer {
        width: 800px;
        display: flex;
        margin: auto;
        padding: 50px 60px;
    }
    
    
    
    .wrapper-footer .kolom-satu img{
        width: 350px;
        box-shadow: 0px 40px 40px rgba(0,0,0,0.6);
    }
    
    .wrapper-footer .kolom-dua p{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: center;
    }
    
    .wrapper-footer .kolom-dua .ultimate {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: bold;
    }
    
    .wrapper-footer .kolom-dua .ebook{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: bold;
    }
    
    .wrapper-footer .kolom-dua  form input{
        width: 350px;
        height: 50px;
        border-radius: 10px;
    
    }
    
    .wrapper-footer .kolom-dua form h5 {
        font-size: 20px;
    }
    
    .wrapper-footer .kolom-dua{
        margin-left: 50px;
        padding-left: 20px;
        padding-right: 20px;
    
    }
    
    .wrapper-footer .kolom-dua button {
        margin-top: 20px;
        height: 40px;
        background-color: rgb(49, 235, 49);
        border-radius: 15px;
        color: black;
        font-weight: bold;
        align-items: center;
        margin-left: 50px;
    }
    
     .footer{
        border:1px solid black;
        background-color: rgba(0,0,0,0.8);
        color:white;
        text-align: center;
        font-size: 26px;
     }


     @media screen and (max-width: 852px){
         
        .content-footer {
            width: 920px;
            border: 1px solid red;
        }
        .wrapper-footer {
             flex-direction: column;
         }

         .wrapper-footer .kolom-satu {
             width: 450px;
             margin: auto;
         }

         .wrapper-footer .kolom-satu img{
            width: 450px;
        }

        .wrapper-footer .kolom-dua{
            width: 600px;
            margin: auto;
        }

        .wrapper-footer .kolom-dua .ultimate {
            font-size: 70px;
        }

        .wrapper-footer .kolom-dua .ebook {
            font-size: 40px;
            text-align: center;
        }

        .wrapper-footer .kolom-dua form {
            width: 550px;
            margin: auto;
        }

        .wrapper-footer .kolom-dua form  input {
            width: 540px;
            height: 90px;
            font-size: 50px;
        }

        .wrapper-footer .kolom-dua form .button {
            width: 400px;
            padding: 10px 2px;
            margin: auto;
        }

        .wrapper-footer .kolom-dua form .button button {
            width: 300px;
            height: 120px;

            font-size: 30px;
            padding-top: 10px;
            padding-bottom: 20px;
        }

        .footer{
            width: 920px;
            font-size: 50px;
        }
     }